# Date Collection Process

### Project Specifications:

### List of the 10 stocks to be used for the project:
- Apples (AAPL)
- Amazon (AMZN)
- Macy's (M)
- Sears Holding (SHLDQ)
- JP Morgan (JPM)
- Goldman Sachs (GS)
- Walmart (WMT)
- P&G (PG)
- Merck (MRK)
- J&J (JNJ)

### List of the 10 input variables for each of the 10 stocks

##### economics data
- GDP
- % Change in GDP

##### companies fundamentals data
- EPS (Earning per Share)
- % Change in EPS
- ROE (Return on Equity)
- % Change in ROE
- Profit Margin
- % Change in Profit Margin

##### technical data
- 1-year % Change in price of Stock
- 4-year % Change in price of Stock

# *Progress Report Summary:

#### Data Collection Task Completed
-Stock portfolio adjusted close price (retrieved from Yahoo finance using python package: pandas datareader).

-GDP data retrieved from FRED using pandas datareader

-EPS, ROE, profit margin data retrieved from: <https://www.macrotrends.net/> using webscrapping method with python packages: beautifulsoup4 and requests.

-The 1-year % change in price data is also retrieved from: <https://www.macrotrends.net/> using webscrapping method with python packages: beautifulsoup4 and requests. 

Currently, the EPS, ROE, profit margin and 1-year price % change data retrieved is only from the AAPL stock.

However, it should be quick to re-run the webscrapping code for the other 9 stocks to retrieved their EPS, ROE, profit margin and 1-year price % change data.

#### Data Collection Task To-Do (Work in progress)
- % change in GDP
- % change in EPS
- % change in ROE
- % change in Profit Margin
- 4-year % change in stock price

For these following input data, I planned on collecting them by using a mathematical transformation on the existing data I collected (GDP, EPS, ROE, profit margin and 1-year % change) to calculate the % change of each data in the dataframe.

Before applying the mathematical transformation, I am still in the process of cleaning up the existing dataset (restructuring the dataframe, changing data type, and filtering rows and column) so I can directly apply the mathematical function and create the dataset in python.

Once the input data are all collected, I wil start merging them into one dataset and export it as CVS or excel file.

## Building the Stock Portfolio

In [2]:
# Modules used in the data collection process
import pandas as pd
import numpy as np
from datetime import datetime
from pandas_datareader import data as pdr
from bs4 import BeautifulSoup
import requests
from csv import writer

In [4]:
# Get the stock symbols for the portfolio
stocks = ["AAPL","AMZN","M", "SHLDQ", "JPM", "GS", "WMT", "PG", "MRK", "JNJ"]
# Specify the time frame of the portfolio
start = datetime(2010,1,1)
end = datetime(2019,12,31)

In [6]:
''' 
- Using the Panda DataReader module, we can directly import our stock data
directly from online website such as Yahoo Finance.

- We are only importing the Adjusted Close price attribute for our portfolio
'''
stockPortfolio = pdr.DataReader(stocks,'yahoo',start,end)['Adj Close']
stockPortfolio

Symbols,AAPL,AMZN,M,SHLDQ,JPM,GS,WMT,PG,MRK,JNJ
Date,,,,,,,,,,
2010-01-04,26.466835,133.899994,11.736986,62.962120,32.941040,148.816330,41.720261,44.054558,25.703463,47.223030
2010-01-05,26.512596,134.690002,11.599391,65.815117,33.579121,151.447327,41.304813,44.068977,25.807632,46.675465
2010-01-06,26.090879,132.250000,11.764508,67.075569,33.763607,149.830826,41.212505,43.859955,26.154871,47.055115
2010-01-07,26.042646,130.000000,12.032818,74.857147,34.432430,152.762802,41.235588,43.622089,26.196550,46.719280
2010-01-08,26.215786,133.520004,11.640666,74.849602,34.347870,149.873840,41.027866,43.564434,26.182655,46.879890
...,...,...,...,...,...,...,...,...,...,...
2019-12-24,282.831299,1789.209961,15.477919,0.190000,135.296478,227.093277,118.462433,123.655777,89.975586,144.007080
2019-12-26,288.442780,1868.770020,15.881189,0.180000,136.732239,228.377335,118.472336,123.655777,89.877182,143.908401
2019-12-27,288.333313,1869.800049,15.852384,0.180000,136.830582,227.834076,118.541725,124.514908,90.034622,143.829453
2019-12-30,290.044617,1846.890015,16.102028,0.170000,136.329041,226.984619,118.353401,122.915146,89.572151,143.385391
2019-12-31,292.163818,1847.839966,16.322866,0.170000,137.086258,227.113007,117.798302,123.339775,89.493423,143.947876

# Collecting the Input Data

## GDP

Direct import from:
<https://fred.stlouisfed.org/series/GDP>

In [7]:
'''
- Directly import the GDP data from the Federal Reserves Website
(FRED) into python.

-Note: To use Real GDP instead of nominal uses 'CPGDPAI' instead of GDP in 
parameter
'''
gdp = pdr.DataReader('GDP', 'fred',start,end)
gdp

                  GDP
DATE
2010-01-01  14721.350
2010-04-01  14926.098
2010-07-01  15079.917
2010-10-01  15240.843
2011-01-01  15285.828
2011-04-01  15496.189
2011-07-01  15591.850
2011-10-01  15796.460
2012-01-01  16019.758
2012-04-01  16152.257
2012-07-01  16257.151
2012-10-01  16358.863
2013-01-01  16569.591
2013-04-01  16637.926
2013-07-01  16848.748
2013-10-01  17083.137
2014-01-01  17104.555
2014-04-01  17432.909
2014-07-01  17721.657
2014-10-01  17849.912
2015-01-01  17984.178
2015-04-01  18219.405
2015-07-01  18344.713
2015-10-01  18350.825
2016-01-01  18424.283
2016-04-01  18637.253
2016-07-01  18806.743
2016-10-01  18991.883
2017-01-01  19190.431
2017-04-01  19356.649
2017-07-01  19611.704
2017-10-01  19918.910
2018-01-01  20163.159
2018-04-01  20510.177
2018-07-01  20749.752
2018-10-01  20897.804
2019-01-01  21098.827
2019-04-01  21340.267
2019-07-01  21542.540
2019-10-01  21729.124

## Web Scrapping Companies Fundament Data
#### (EPS, ROE and Profit Margin)

*Note: For now, I scrap the EPS, ROE and profit margin for AAPL stock only,
however, the webscrapper code can be reused for the other stocks.

The website that I am webscrapping for my data is: 

<https://www.macrotrends.net/>

The specific web page for AAPL EPS, ROE and profit Margin data are: 

<https://www.macrotrends.net/stocks/charts/AAPL/apple/eps-earnings-per-share-diluted>
<https://www.macrotrends.net/stocks/charts/AAPL/apple/roe>
<https://www.macrotrends.net/stocks/charts/AAPL/apple/net-profit-margin>

## EPS

In [8]:
response = requests.get('https://www.macrotrends.net/stocks/charts/AAPL/apple/eps-earnings-per-share-diluted')
soup = BeautifulSoup(response.text, 'html.parser')
table = soup.find_all('table')
# Note to get Annual EPS instead of quarterly EPS, change [1] to [0].
AAPL_EPS_df = pd.read_html(str(table))[1]

In [10]:
AAPL_EPS_df.columns = ['Date', 'Quarterly EPS']
AAPL_EPS_df

          Date Quarterly EPS
0   2020-03-31         $2.55
1   2019-12-31         $4.99
2   2019-09-30         $3.07
3   2019-06-30         $2.18
4   2019-03-31         $2.46
..         ...           ...
56  2006-03-31         $0.07
57  2005-12-31         $0.09
58  2005-09-30         $0.07
59  2005-06-30         $0.05
60  2005-03-31         $0.05

[61 rows x 2 columns]

## ROE

In [11]:
response = requests.get('https://www.macrotrends.net/stocks/charts/AAPL/apple/roe')
soup = BeautifulSoup(response.text, 'html.parser')
table = soup.find_all('table')
AAPL_ROE_df = pd.read_html(str(table))[0]

In [14]:
AAPL_ROE_df.columns = ['Date', 'TTM Net Income', 'Shareholder Equity', 'ROE']
AAPL_ROE_df[['Date', 'ROE']]

          Date     ROE
0   2020-03-31  64.49%
1   2019-12-31  60.18%
2   2019-09-30  53.82%
3   2019-06-30  52.13%
4   2019-03-31  51.29%
5   2018-12-31  50.92%
6   2018-09-30  48.68%
7   2018-06-30  43.50%
8   2018-03-31  39.97%
9   2017-12-31  37.37%
10  2017-09-30  36.29%
11  2017-06-30  35.40%
12  2017-03-31  35.09%
13  2016-12-31  34.94%
14  2016-09-30  35.59%
15  2016-06-30  37.89%
16  2016-03-31  40.24%
17  2015-12-31  42.79%
18  2015-09-30  42.94%
19  2015-06-30  41.46%
20  2015-03-31  39.44%
21  2014-12-31  37.36%
22  2014-09-30  32.76%
23  2014-06-30  31.20%
24  2014-03-31  30.36%
25  2013-12-31  28.93%
26  2013-09-30  29.06%
27  2013-06-30  29.93%
28  2013-03-31  32.20%
29  2012-12-31  36.32%
30  2012-09-30  39.51%
31  2012-06-30  42.14%
32  2012-03-31  45.63%
33  2011-12-31  44.35%
34  2011-09-30  39.56%
35  2011-06-30  40.48%
36  2011-03-31  37.77%
37  2010-12-31  35.99%
38  2010-09-30  33.76%
39  2010-06-30  32.66%
40  2010-03-31  32.60%
41  2009-12-31  31.83%
42  2009-09-30  31.45%
43  2009-06-30  34.06%
44  2009-03-31  33.06%
45  2008-12-31  32.78%
46  2008-09-30  31.88%
47  2008-06-30  26.67%
48  2008-03-31  27.69%
49  2007-12-31  28.57%
50  2007-09-30  27.19%
51  2007-06-30  26.74%
52  2007-03-31  26.05%
53  2006-12-31  24.76%
54  2006-09-30  21.87%
55  2006-06-30  22.13%
56  2006-03-31  21.95%
57  2005-12-31  22.03%

## Profit Margin

In [29]:
response = requests.get('https://www.macrotrends.net/stocks/charts/AAPL/apple/net-profit-margin')
soup = BeautifulSoup(response.text, 'html.parser')
table = soup.find_all('table')
AAPL_ProfitMargin_df = pd.read_html(str(table))[0]

In [30]:
AAPL_ProfitMargin_df.columns

MultiIndex([('Apple Net Profit Margin Historical Data',           'Date'),
            ('Apple Net Profit Margin Historical Data',    'TTM Revenue'),
            ('Apple Net Profit Margin Historical Data', 'TTM Net Income'),
            ('Apple Net Profit Margin Historical Data',     'Net Margin')],
           )

In [31]:
# Renaming the columns
AAPL_ProfitMargin_df.columns = ['Date','TTM Revenue', 'TTM Net Income', 'Net Margin' ]

In [32]:
AAPL_ProfitMargin_df.columns

Index(['Date', 'TTM Revenue', 'TTM Net Income', 'Net Margin'], dtype='object')

In [40]:
pd.DataFrame(AAPL_ProfitMargin_df[['Date','Net Margin']])

          Date Net Margin
0   2020-03-31     21.35%
1   2019-12-31     21.49%
2   2019-09-30     21.24%
3   2019-06-30     21.50%
4   2019-03-31     22.12%
5   2018-12-31     22.72%
6   2018-09-30     22.41%
7   2018-06-30     21.98%
8   2018-03-31     21.55%
9   2017-12-31     21.12%
10  2017-09-30     21.09%
11  2017-06-30     20.87%
12  2017-03-31     20.74%
13  2016-12-31     20.73%
14  2016-09-30     21.19%
15  2016-06-30     21.70%
16  2016-03-31     22.27%
17  2015-12-31     22.87%
18  2015-09-30     22.85%
19  2015-06-30     22.62%
20  2015-03-31     22.53%
21  2014-12-31     22.25%
22  2014-09-30     21.61%
23  2014-06-30     21.64%
24  2014-03-31     21.42%
25  2013-12-31     21.28%
26  2013-09-30     21.67%
27  2013-06-30     22.28%
28  2013-03-31     23.46%
29  2012-12-31     25.35%
30  2012-09-30     26.67%
31  2012-06-30     26.97%
32  2012-03-31     27.13%
33  2011-12-31     25.80%
34  2011-09-30     23.95%
35  2011-06-30     23.53%
36  2011-03-31     22.36%
37  2010-12-31     21.81%
38  2010-09-30     21.48%
39  2010-06-30     21.43%
40  2010-03-31     21.15%
41  2009-12-31     20.04%
42  2009-09-30     19.19%
43  2009-06-30     18.63%
44  2009-03-31     17.83%
45  2008-12-31     17.08%
46  2008-09-30     16.32%
47  2008-06-30     14.67%
48  2008-03-31     14.83%
49  2007-12-31     15.04%
50  2007-09-30     14.22%
51  2007-06-30     13.85%
52  2007-03-31     12.92%
53  2006-12-31     11.74%
54  2006-09-30     10.30%
55  2006-06-30     10.31%
56  2006-03-31      9.93%
57  2005-12-31      9.87%

## 1-year % Change in Stock Price

For the 1-year % Change in stock price I collected the data via reusing the web scrapper on:

<https://www.macrotrends.net/stocks/charts/AAPL/apple/stock-price-history>

In [48]:
response = requests.get('https://www.macrotrends.net/stocks/charts/AAPL/apple/stock-price-history')
soup = BeautifulSoup(response.text, 'html.parser')
table = soup.find_all('table')
AAPL_one_yearpc = pd.read_html(str(table))[0]

In [61]:
# Renaming the columns
AAPL_one_yearpc.columns = ['Date', 'Avg price','open', 'high', 'low', 'close', '1-year %Change'] 
# Filter out data table for annual percent change
AAPL_one_yearpc[['Date','1-year %Change']]

    Date 1-year %Change
0   2020         15.38%
1   2019         86.16%
2   2018         -6.79%
3   2017         46.11%
4   2016         10.03%
5   2015         -4.64%
6   2014         37.72%
7   2013          5.42%
8   2012         31.40%
9   2011         25.56%
10  2010         53.07%
11  2009        146.90%
12  2008        -56.91%
13  2007        133.47%
14  2006         18.01%
15  2005        123.26%
16  2004        201.36%
17  2003         49.12%
18  2002        -34.56%
19  2001         47.17%
20  2000        -71.05%
21  1999        151.13%
22  1998        211.81%
23  1997        -37.09%
24  1996        -34.51%
25  1995        -18.29%
26  1994         33.34%
27  1993        -51.05%
28  1992          5.97%
29  1991         31.12%
30  1990         21.99%
31  1989        -12.42%
32  1988         -4.17%
33  1987        107.41%
34  1986         84.07%
35  1985        -24.44%
36  1984         19.43%
37  1983        -18.37%
38  1982         34.97%
39  1981        -35.16%